<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
   <services>
       <service name="MyService.MyService">
        <endpoint address="http://localhost:8089/" behaviorConfiguration="webby"
        binding="webHttpBinding" contract="MyService.IMyService" />

         <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
    </service>
    
  </services>
  <behaviors>
    <serviceBehaviors>
      <behavior name="RestWCFServiceLibrary.Service1Behavior">
            <!-- To avoid disclosing metadata information, 
      set the value below to false and remove the metadata endpoint above before     deployment -->
            <serviceMetadata httpGetEnabled="True"/>
            <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
            <serviceDebug includeExceptionDetailInFaults="False" />
      </behavior>
    </serviceBehaviors>

    <endpointBehaviors>
      <behavior name="webby">
           <webHttp/>
    
      </behavior>
    </endpointBehaviors>
  </behaviors>
  
</system.serviceModel>


</configuration>
